.search-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.search-input {
    padding: 8px 15px;
    font-size: 15px;
    width: 300px;
    height: 30px;
    border-width: 0;
    background: #a592f2;
    color: darkslateblue;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(red, green, blue, 0.5);

}

.search-input::placeholder {
    color: darkslateblue;
}

.search-input:focus {
    outline: none;
}